<div class = "container">
<div class="row">
  
  
  <div class="col-lg-3"></div>
  
  <div class="col-lg-6">

<h2>User info</h2>





<%= form_with model: @user do |f| %>

<% if @user.errors.any? %>
    <%= @user.errors.count %> error prohibited this obj from being saved:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
<div class = flex-item>
  <label for="inputName">Name</label>
</div>
<div class = flex-item> 
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
</div>

<div class = flex-item>  
  <label for="inputImage">Image</label>
</div>
<div class = flex-item>  
  <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>  
</div>
  
 <div class = flex-item>
  <label for="introduction">Introduction</label>
   </div>
  <div class = flex-item>
  <%= f.text_field :introduction, autofocus: true, id:"introduction", placeholder:"Introduction"%>
  </div>
  
  <%= f.submit "Update User" %>
<% end %>

</div>


<div class="col-lg-3"></div>

</div>
</div>
