
 <div class="container"> 
 <div class="row"> 
  
   <div class="col-lg-3" style="background-color: white;">
  <div class="flexbox">  
 <div class="flex-item"> 
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table>
    <tr>
      <th>Name</th>
      <th>Introduction</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.user_introduction %></td>
    </tr>
  </table>
  
   <% if @user == current_user %>
    <%= link_to edit_user_path(@user), class: "btn btn-outline-secomdary btn-block" do %>
  <i class="fa-solid fa-user-gear"></i>
  <% end %>
    <% end %>
</div>
</div>


  <div class="flex-item"> 
 <h1>New book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>

  <h4>Title</h4></h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

</div>
</div>
 
 <div class="col-lg-1">
    </div>
    
    




<!-- ユーザーの投稿一覧 -->
<div class="col-lg-8">





<h1>Users</h1>

<table class="table table-striped">
　<tr>
　　<th>image</th>
　　<th>name</th>
　　<th></th>
  </tr>
  
  <% @users.each do |user| %>
　<tr>
　　<td><%= link_to image_tag user.get_profile_image(100,100) %></td>
　　<td><%= user.name %></td>
　　<td><%= link_to 'Show', user_path(user) %></td>
　</tr>
　
</table>
<% end %>

