
 <div class="container"> 
 <div class="row"> 
  
   <div class="col-lg-3" style="background-color: white;">
  <div class="flexbox">  
 <div class="flex-item"> 
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table>
    <tr>
      <th>Name</th>
      <th>Introduction</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
 
  <% if @user == current_user %>
    <%= link_to edit_user_path(@user), class: "btn btn-block" do %>
  <i class="fa-solid fa-user-gear"></i>
  <% end %>
    <% end %>
</div>
</div>


  <div class="flex-item"> 
 <h1>New book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

</div>
</div>

 
 <div class="col-lg-1">
    </div>
    

<!-- ユーザーの投稿一覧 -->
<div class="col-lg-8">



  <table class="table table-striped">
      <thead>
　<tr>
　　<th></th>
　　<th>Title</th>
　　<th>Opinion</th>
　</tr>
　</thead>
　<% @books.each do |book| %>
    <tbody>
　<tr>
　　<td><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user) %></td>
　　<td><%= link_to book.title, book_path(book.id) %></td>
　　<td><%= book.body %></td>
　</tr>
　</tbody>
　　<% end %>
　</table>
　 </div>
　 </div>
</div>
　 
　 
　
  
  

